@import "./variables";

html,
body {
  font-size: 16px;
  background-color: $white;
  color: $black;
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Poppins", Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //color: $white;
}

p {
  //   color: $lightGrey;
  //   font-size: 0.9rem;
  //   line-height: 1.5;
}
input[type="text"] {
  //   background-color: $grey;
  //   padding: 0.5rem;
  //   color: $lightGrey;
  //   border-left: 0.5px solid $lightGrey;
  //   border-top: 0.5px solid $lightGrey;
  //   border-bottom: 0.5px solid $lightGrey;
  //   border-top-left-radius: 5px;
  //   border-bottom-left-radius: 5px;
  //   border-right: 0 solid $lightGrey;
}

textarea {
  //   background-color: $grey;
  //   padding: 0.5rem;
  //   color: $lightGrey;
  //   border-left: 0.5px solid $lightGrey;
  //   border-top: 0.5px solid $lightGrey;
  //   border-bottom: 0.5px solid $lightGrey;
  //   border-top-left-radius: 5px;
  //   border-bottom-left-radius: 5px;
  //   border-right: 0 solid $lightGrey;
}

input[type="submit"] {
  //   background-color: $cyan;
  //   color: $black;
  //   padding: 0.5rem;
  //   border-right: 0.5px solid $cyan;
  //   border-top: 0.5px solid $cyan;
  //   border-bottom: 0.5px solid $cyan;
  //   border-top-right-radius: 5px;
  //   border-bottom-right-radius: 5px;
  //   border-left: 0px solid $cyan;
  //   cursor: pointer;
}

input[type="button"] {
  //   background-color: $cyan;
  //   color: $black;
  //   padding: 0.5rem;
  //   border-right: 0.5px solid $cyan;
  //   border-top: 0.5px solid $cyan;
  //   border-bottom: 0.5px solid $cyan;
  //   border-top-right-radius: 5px;
  //   border-bottom-right-radius: 5px;
  //   border-left: 0px solid $cyan;
  //   cursor: pointer;
}

button {
  cursor: pointer;
}



@include mobile {
  html,
  body {
    font-size: 14px;
  }
}
